.profile {
  height: 520px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/45-degree-fabric-dark.png");
  background-color: #D89820;
}

.profile h2 {
  margin-top: 0;
  margin-bottom: 2em;
  color: azure;
  font-weight: 100;
}

.profile h2 b{
  font-weight: bold;
}
/* Desktop styling */
@media screen and (min-width: 1024px) {
  .profile {
    display: flex;
    align-items: center;
    height: 20em;
    width: 20em;
    margin-left: 2em;
    margin-top: 1em;
  }
}