.profile {
  height: 520px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/45-degree-fabric-dark.png");
  background-color: #D89820;
}
.profile h2 {
  margin-top: 0;
  margin-bottom: 1em;
  color: azure;
  font-weight: 100;
}
.profile h2 b{
  font-weight: bold;
}