.new-tweet {
  margin-top: 1em;
}

.new-tweet label {
  font-weight: bold;
}

.new-tweet textarea {
  width: 100%;
  background-color: #F6F1ED;
  border: none;
  border-bottom: 4px dashed black;
  resize: none;
  outline: none;
}

.submit-counter {
  margin-top: 0.5em;
  font-family: 'Bungee', cursive;
  display: flex;
  justify-content: space-between;
}

.submit-counter button {
  color: #F6F1ED;
  background-color: #4056a1;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-size: 0.9em;
  padding: 0.1em 0.4em;
}

.submit-counter button:hover {
  background-color: #6d7fb9;
}

.submit-counter button:active {
  background-color: #F6F1ED;
  color: #4056a1;
}

#counter {
  color: #545149;
}

#error-text {
  color: red;
}